.aside-left {
    --paddingHorizontal: 20px;
    background-color: #714EAD;
    color: white;
    padding: var(--paddingHorizontal) 30px;
    transition: 0.3s ease-in-out;
    width: 100px;
    overflow-x: hidden;
    position: relative;
}

.aside-left:hover {
    width: 300px;
}

.aside-left.open {
    width: 300px;
    /* flex: 1 0 300px; */
}

.chat-list {
    list-style: none;
    transition: 0.25s;
}

.barra-separador {
    opacity: 0;
    margin-bottom: 20px;
    color: #ffffff98;
    transition: .2s;
}

.aside-left.open .cerrar-sesion-button,
.aside-left:hover .cerrar-sesion-button {
    opacity: 1;
}

.aside-left:hover .barra-separador,
.aside-left.open .barra-separador {
    opacity: 1;
}

.cerrar-sesion-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 40px;
    opacity: 0.9;
    transition: 0.2s;
    padding: 8px 20px;
    border-radius: 30px;
    min-width: 200px;
    position: relative;
    justify-content: center;
    width: 100%;
    opacity: 0;
    border: none;
}

.cerrar-sesion-button:hover {
    transition-delay: .2s;
    opacity: 1;
    background: #fff
}


.chat-list li {
    margin: 5px 0;
    padding: 15px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    left: -18px;
    width: calc(100% + 18px);
}

.chat-list li:hover {
    background-color: #8f6cd3;
}


.aside-left .chat-list {
    width: calc(300px - (var(--paddingHorizontal) * 2.3));
    opacity: 0;
    margin-top: 20px;
    /* display: none; */
    /* flex-direction: column; */
}

.chat-list h2 {
    margin-bottom: 15px;
    font-size: 1.28rem;
    font-weight: 700;
}

.aside-left:hover .chat-list {
    opacity: 1;
}

.aside-left.open .chat-list {
    opacity: 1;
}

/* .aside-left { */