.main-content {
    display: flex;
    overflow: hidden;
    height: 100%;
    /* justify-content: center; */
}


.chat-section {
    padding: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
}

.chat-section h2 {
    margin-bottom: 15px;
    color: #50269e;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
}

.messages {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    /* background: #ffffff; */
    padding: 15px;
    border-radius: 8px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 10px;
    max-width: 85%;
    display: flex;
    align-items: start;
    font-size: 18px;
    line-height: 1.7;
}

.message.user div {
    display: flex;
    padding-top: 4px;
    height: 100%;
    padding-left: 15px;
}

.message.ai div {
    display: flex;
    padding-top: 4px;
    height: 100%;
    padding-right: 15px;
}

.message.ai {
    background-color: #efe2fa;
    align-self: flex-start;
}

.message.user {
    background-color: #d9d9f3;
    align-self: flex-end;
    flex-direction: row-reverse;
}

/* BARRITA */
.input-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.input-bar input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.upload-icon {
    font-size: 1.5rem;
    color: #65469B;
    cursor: pointer;
}


.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f1f2f6;
}