.prompt-input {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
    background: #fff;
    padding: 20px 30px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2), 0px 0px 7px rgba(0, 0, 0, 0.1), 0px -20px 15px rgba(255, 255, 255, 0.7), 0px -10px 15px rgba(255, 255, 255, 0.4);
}

.input-chat {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #cccccc90;
    font-size: 16px;
    resize: none;
}

.send-btn {
    background-color: #2B69FC;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 100%;
    aspect-ratio: 1;
    border: 2px solid #fff;
    transition: 0.2s;
    outline: none;
}

.send-btn:hover {
    background-color: #86AAFE;
    border: 2px solid #2B69FC;
}

.upload-file {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    transition: 0.1s;
}

.upload-file:hover {
    opacity: 0.7;

}